@font-face {
   font-family: 'GenRyuMinTW-Heavy';
   font-display: swap;
   src: url('GenRyuMinTW-Heavy/font.ttf');
}
@font-face {
   font-family: 'GenRyuMinTW-SemiBold';
   font-display: swap;
   src: url('GenRyuMinTW-SemiBold/font.ttf');
}
@font-face {
   font-family: 'GenRyuMinTW-Medium';
   font-display: swap;
   src: url('GenRyuMinTW-Medium/font.ttf');
}
@font-face {
   font-family: 'GenRyuMinTW-Regular';
   font-display: swap;
   src: url('GenRyuMinTW-Regular/font.ttf');
}
@font-face {
   font-family: 'GenRyuMinTW-Light';
   font-display: swap;
   src: url('GenRyuMinTW-Light/font.ttf');
}
