@font-face {
   font-family: 'cwTeXHei-zhonly';
   font-display: swap;
   src: url('file:///C:/Users/oldmac_kao/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-28_013833/fonts/cwTeXHei-zhonly/font.ttf');
}
