@font-face {
   font-family: 'GenRyuMinTW-Light';
   font-display: swap;
   src: url('file:///C:/Users/oldmac_kao/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-10-11_152440/fonts/GenRyuMinTW-Light/font.ttf');
}
