@font-face {
   font-family: 'GenRyuMinTW-SemiBold';
   font-display: swap;
   src: url('file:///C:/Users/oldmac_kao/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-08-10_233140/fonts/GenRyuMinTW-SemiBold/font.ttf');
}
